Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true
    patch:
      default:
        target: 70%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "examples/**/*"
  - "benches/**/*"
  - "**/tests/**/*"
  - "target/**/*"

flags:
  core:
    paths:
      - crates/mcpkit-core/
    carryforward: true
  transport:
    paths:
      - crates/mcpkit-transport/
    carryforward: true
  server:
    paths:
      - crates/mcpkit-server/
    carryforward: true
  client:
    paths:
      - crates/mcpkit-client/
    carryforward: true
  macros:
    paths:
      - crates/mcpkit-macros/
    carryforward: true
  testing:
    paths:
      - crates/mcpkit-testing/
    carryforward: true
  axum:
    paths:
      - crates/mcpkit-axum/
    carryforward: true
  actix:
    paths:
      - crates/mcpkit-actix/
    carryforward: true

fix(transport): allow dead_code for NamedPipeState read_buffer
  crates/mcpkit-transport/src/windows.rs
Due: transport

fix(transport): use pre-generated protobuf code for Windows builds (#4)
  .github/workflows/ci.yml
  Justfile
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/build.rs
  crates/mcpkit-transport/src/grpc/mcp_proto.rs
  crates/mcpkit-transport/src/grpc/mod.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-transport/src/windows.rs
Due: transport

fix: prepare forge crates for crates.io publishing
  Justfile
  crates/mcpkit-template-derive/Cargo.toml
  crates/mcpkit-template/Cargo.toml
Due: none

docs: remove references to extracted forge orchestration crates
  CHANGELOG.md
  README.md
Due: none

chore(deps): bump vulnerable dependencies to patched versions
  CHANGELOG.md
  Cargo.lock
Due: none

chore(deps): bump vulnerable dependencies to patched versions (#26)
  CHANGELOG.md
  Cargo.lock
Due: none

style: fix clippy lints surfaced by stable Rust 1.96
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
  crates/mcpkit-core/src/debug/inspector.rs
  crates/mcpkit-core/src/debug/recorder.rs
  crates/mcpkit-server/src/metrics.rs
  crates/mcpkit-testing/src/client.rs
  crates/mcpkit-testing/src/scenario.rs
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/middleware/rate_limit/mod.rs
Due: core, transport, server, testing

style: fix clippy lints surfaced by stable Rust 1.96 (#28)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
  crates/mcpkit-core/src/debug/inspector.rs
  crates/mcpkit-core/src/debug/recorder.rs
  crates/mcpkit-server/src/metrics.rs
  crates/mcpkit-testing/src/client.rs
  crates/mcpkit-testing/src/scenario.rs
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/middleware/rate_limit/mod.rs
Due: core, transport, server, testing

ci: pin Rust toolchain to 1.96 instead of @stable
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stress-test.yml
Due: none

fix(transport): stop connection pool from leaking in_use slots (#6)
  CHANGELOG.md
  crates/mcpkit-transport/src/pool/connection.rs
  crates/mcpkit-transport/src/pool/manager.rs
  crates/mcpkit-transport/src/pool/mod.rs
Due: transport

ci: pin Rust toolchain to 1.96 instead of @stable (#29)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stress-test.yml
Due: none

fix(transport): stop connection pool from leaking in_use slots (#6) (#27)
  CHANGELOG.md
  crates/mcpkit-transport/src/pool/connection.rs
  crates/mcpkit-transport/src/pool/manager.rs
  crates/mcpkit-transport/src/pool/mod.rs
Due: transport

fix(client): bound requests with a timeout and reclaim pending slots (#5)
  CHANGELOG.md
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-client/src/builder.rs
  crates/mcpkit-client/src/client.rs
Due: client

fix(client): bound requests with a timeout and reclaim pending slots (#5) (#25)
  CHANGELOG.md
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-client/src/builder.rs
  crates/mcpkit-client/src/client.rs
Due: client

fix(transport): enforce message-size limit during read to prevent OOM (#7)
  CHANGELOG.md
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/stdio.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/windows.rs
Due: transport

fix(transport): enforce message-size limit during read to prevent OOM (#7) (#30)
  CHANGELOG.md
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/stdio.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/windows.rs
Due: transport

fix(server): park cancellation future instead of busy-spinning (#8)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-server/src/context.rs
Due: server

fix(server): park cancellation future instead of busy-spinning (#8) (#31)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-server/src/context.rs
Due: server

feat(server): process requests concurrently with panic isolation (#9, #21)
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): process requests concurrently with panic isolation (#9, #21) (#32)
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

ci: stop running benchmarks on every PR; cancel superseded runs
  .github/workflows/ci.yml
  .github/workflows/stress-test.yml
Due: none

ci: stop running benchmarks on every PR; cancel superseded runs (#33)
  .github/workflows/ci.yml
  .github/workflows/stress-test.yml
Due: none

fix(auth): enforce JWT required_claims on the verifying path (#10) (#34)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
Due: core

fix(auth): enforce JWT required_claims on the verifying path (#10)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
Due: core

ci: update actions to latest majors; dedupe PR runs; harden link check
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/release.yml
  .github/workflows/stress-test.yml
Due: none

ci: update actions to latest majors; dedupe PR runs; harden link check (#35)
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/release.yml
  .github/workflows/stress-test.yml
Due: none

fix(transport): per-key buckets in the default rate limiter (#11)
  CHANGELOG.md
  crates/mcpkit-transport/src/middleware/rate_limit/store.rs
Due: transport

fix(transport): per-key buckets in the default rate limiter (#11) (#36)
  CHANGELOG.md
  crates/mcpkit-transport/src/middleware/rate_limit/store.rs
Due: transport

fix(transport): terminate spawned child on drop; fix lifecycle docs (#12)
  CHANGELOG.md
  crates/mcpkit-transport/src/spawn.rs
Due: transport

fix(transport): terminate spawned child on drop; fix lifecycle docs (#12) (#37)
  CHANGELOG.md
  crates/mcpkit-transport/src/spawn.rs
Due: transport

fix(transport): apply configured WebSocket max_message_size (#13)
  CHANGELOG.md
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/src/websocket/server.rs
Due: transport

fix(transport): apply configured WebSocket max_message_size (#13) (#38)
  CHANGELOG.md
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/src/websocket/server.rs
Due: transport

fix(macros): implement #[mcp(default/min/max)] parameter attributes (#14)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-macros-tests/Cargo.toml
  crates/mcpkit-macros-tests/tests/param_defaults.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/lib.rs
  crates/mcpkit-macros/src/server.rs
Due: macros

fix(macros): implement #[mcp(default/min/max)] parameter attributes (#14) (#39)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-macros-tests/Cargo.toml
  crates/mcpkit-macros-tests/tests/param_defaults.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/lib.rs
  crates/mcpkit-macros/src/server.rs
Due: macros

test(core): fix flaky notification_has_no_id property test (#42)
  crates/mcpkit-core/tests/property_serialization.rs
Due: none

test(core): fix flaky notification_has_no_id property test
  crates/mcpkit-core/tests/property_serialization.rs
Due: none

fix(transport): randomize retry jitter; don't retry timeouts by default (#15)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/middleware/retry.rs
Due: transport

test: delete orphaned root tests/; port unique coverage to core (#16)
  crates/mcpkit-core/src/protocol_version.rs
  tests/integration/mod.rs
  tests/integration/prompts.rs
  tests/integration/resources.rs
  tests/integration/tools.rs
  tests/protocol_compliance/capabilities.rs
  tests/protocol_compliance/initialization.rs
  tests/protocol_compliance/json_rpc.rs
  tests/protocol_compliance/mod.rs
Due: core

test: delete orphaned root tests/; port unique coverage to core (#16) (#41)
  crates/mcpkit-core/src/protocol_version.rs
  tests/integration/mod.rs
  tests/integration/prompts.rs
  tests/integration/resources.rs
  tests/integration/tools.rs
  tests/protocol_compliance/capabilities.rs
  tests/protocol_compliance/initialization.rs
  tests/protocol_compliance/json_rpc.rs
  tests/protocol_compliance/mod.rs
Due: core
