Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

chore(ci): delete the unreachable regression-check job
  .github/workflows/stress-test.yml
Due: none

ci: add a least-privilege permissions baseline
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/proto-check.yml
  .github/workflows/release.yml
  .github/workflows/stress-test.yml
Due: none

perf(ci): nextest with doctests, --locked, trimmed debuginfo, advisory semver
  .github/workflows/ci.yml
  Justfile
Due: none

ci: install cargo-fuzz from a prebuilt binary
  .github/workflows/fuzz.yml
Due: none

fix(security): sync the advisory ignore lists and enforce it
  .cargo/audit.toml
  .github/workflows/ci.yml
Due: none

chore(just): remove the vet recipe, which asserted a passing audit of nothing
  Justfile
Due: none

style: collapse nested ifs into let-chains for the 1.88 floor
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/auth/jwt.rs
  crates/mcpkit-core/src/debug/inspector.rs
  crates/mcpkit-core/src/debug/recorder.rs
  crates/mcpkit-core/src/extension/discovery.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-macros/src/client.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/derive.rs
  crates/mcpkit-macros/src/prompt.rs
  crates/mcpkit-macros/src/resource.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-macros/src/tool.rs
  crates/mcpkit-server/src/metrics.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/streams.rs
  crates/mcpkit-server/src/validation.rs
  crates/mcpkit-testing/src/scenario.rs
  crates/mcpkit-transport/src/http/client.rs
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/pool/manager.rs
  mcpkit/tests/websocket_e2e.rs
Due: core, transport, server, client, macros, testing

fix(just): make every recipe report its real exit code
  Justfile
Due: none

fix(just): make every recipe report its real exit code (#192)
  Justfile
Due: none

style(clippy): clear transport's pedantic findings
  crates/mcpkit-transport/src/error.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-transport/src/http/client.rs
  crates/mcpkit-transport/src/http/origin.rs
  crates/mcpkit-transport/src/memory.rs
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/middleware/logging.rs
  crates/mcpkit-transport/src/middleware/metrics.rs
  crates/mcpkit-transport/src/middleware/mod.rs
  crates/mcpkit-transport/src/middleware/rate_limit/mod.rs
  crates/mcpkit-transport/src/middleware/rate_limit/store.rs
  crates/mcpkit-transport/src/middleware/retry.rs
  crates/mcpkit-transport/src/middleware/timeout.rs
  crates/mcpkit-transport/src/pool/manager.rs
  crates/mcpkit-transport/src/pool/mod.rs
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/spawn.rs
  crates/mcpkit-transport/src/stdio.rs
  crates/mcpkit-transport/src/telemetry.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/src/websocket/config.rs
  crates/mcpkit-transport/src/websocket/server.rs
Due: transport

style(clippy): finish transport, incl. an individual review of all 21 lock guards
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/middleware/rate_limit/store.rs
  crates/mcpkit-transport/src/websocket/server.rs
  crates/mcpkit-transport/tests/middleware_interaction.rs
  crates/mcpkit-transport/tests/resilience.rs
Due: transport

style(clippy): clear mcpkit-server, benches and the grpc example
  crates/mcpkit-core/benches/protocol.rs
  crates/mcpkit-server/src/adapter_peer.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/capability/resources.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/health.rs
  crates/mcpkit-server/src/metrics.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/state.rs
  crates/mcpkit-server/src/streams.rs
  crates/mcpkit-server/src/validation.rs
  crates/mcpkit-server/tests/async_cancellation.rs
  crates/mcpkit-transport/src/http/client.rs
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/src/websocket/server.rs
  examples/grpc-client/src/main.rs
Due: core, transport, server

fix(transport): allow generated-proto lints at the include site
  crates/mcpkit-transport/src/grpc/mcp_proto.rs
  crates/mcpkit-transport/src/grpc/mod.rs
Due: transport

fix(ci): build cargo-fuzz from source again
  .github/workflows/fuzz.yml
Due: none

fix(examples): stop using unstable Duration::from_mins
  examples/grpc-client/src/main.rs
  examples/with-middleware/src/main.rs
Due: none

fix(transport)!: split the Unix socket read and write locks
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/tests/unix_concurrent_io.rs
Due: transport

fix(transport): keep the Unix reader across a cancelled recv
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/tests/unix_concurrent_io.rs
Due: transport

fix(transport): split the WebSocket sink and stream halves
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/tests/websocket_concurrent_io.rs
Due: transport

fix(transport): split the named-pipe read and write halves
  crates/mcpkit-transport/src/windows.rs
  crates/mcpkit-transport/tests/named_pipe_concurrent_io.rs
Due: transport

fix(transport): keep a partial line across a cancelled read
  crates/mcpkit-transport/src/runtime.rs
Due: transport

docs(transport): state the two requirements recv must meet
  crates/mcpkit-transport/src/traits.rs
Due: transport

fix(server): rotate poll order in the run loop so no source starves
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/run_loop_fairness.rs
Due: server

fix: transports deadlocked on their own responses; run loop starved its tail (#194)
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/traits.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/src/windows.rs
  crates/mcpkit-transport/tests/named_pipe_concurrent_io.rs
  crates/mcpkit-transport/tests/unix_concurrent_io.rs
  crates/mcpkit-transport/tests/websocket_concurrent_io.rs
  mcpkit/tests/run_loop_fairness.rs
Due: transport, server

fix(transport): give the Unix socket a cancel-safe reader
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/tests/unix_concurrent_io.rs
Due: transport

fix(transport): give the Unix socket a cancel-safe reader (#195)
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/tests/unix_concurrent_io.rs
Due: transport

docs(adr): record how ADR 0006's deferred refactor resolved
  docs/adr/0006-ambient-notification-seam.md
Due: none

docs(adr): record how ADR 0006's deferred refactor resolved (#196)
  docs/adr/0006-ambient-notification-seam.md
Due: none

fix(ci): make the stress-test job able to fail
  .github/workflows/stress-test.yml
  crates/mcpkit-server/src/server.rs
Due: server

test(ci): prove the schema-conformance gate can fail
  .github/workflows/ci.yml
  Justfile
  scripts/schema-diff-test.sh
Due: none

test(ci): extract the version gate to a script and prove it can fail
  .github/workflows/ci.yml
  Justfile
  scripts/version-sync-test.sh
  scripts/version-sync.sh
Due: none

test(ci): prove the gates can fail (#197)
  .github/workflows/ci.yml
  .github/workflows/stress-test.yml
  Justfile
  crates/mcpkit-server/src/server.rs
  scripts/schema-diff-test.sh
  scripts/version-sync-test.sh
  scripts/version-sync.sh
Due: server

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
