Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true
    patch:
      default:
        target: 70%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "examples/**/*"
  - "benches/**/*"
  - "**/tests/**/*"
  - "target/**/*"

flags:
  core:
    paths:
      - crates/mcpkit-core/
    carryforward: true
  transport:
    paths:
      - crates/mcpkit-transport/
    carryforward: true
  server:
    paths:
      - crates/mcpkit-server/
    carryforward: true
  client:
    paths:
      - crates/mcpkit-client/
    carryforward: true
  macros:
    paths:
      - crates/mcpkit-macros/
    carryforward: true
  testing:
    paths:
      - crates/mcpkit-testing/
    carryforward: true
  axum:
    paths:
      - crates/mcpkit-axum/
    carryforward: true
  actix:
    paths:
      - crates/mcpkit-actix/
    carryforward: true

feat(core): expand extension infrastructure
  crates/mcpkit-core/src/extension/apps.rs
  crates/mcpkit-core/src/extension/discovery.rs
  crates/mcpkit-core/src/extension/mod.rs
  crates/mcpkit-core/src/extension/templates.rs
  crates/mcpkit-core/src/lib.rs
Due: core

feat(macros): add #[mcp_client] macro with handler attributes
  crates/mcpkit-macros/src/attrs.rs
  crates/mcpkit-macros/src/client.rs
  crates/mcpkit-macros/src/lib.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: macros

feat(server): add health check support
  crates/mcpkit-server/src/health.rs
  crates/mcpkit-server/src/lib.rs
Due: server

feat(testing): add async helpers and test utilities
  crates/mcpkit-testing/src/async_helpers.rs
  crates/mcpkit-testing/src/client.rs
  crates/mcpkit-testing/src/lib.rs
  crates/mcpkit-testing/src/scenario.rs
  crates/mcpkit-testing/src/session.rs
Due: testing

feat(transport): add message batching middleware
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/middleware/mod.rs
Due: transport

feat(transport): add Windows named pipes transport
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/windows.rs
Due: transport

feat(core): add WASM support for wasm32-unknown-unknown
  Cargo.toml
  crates/mcpkit-core/Cargo.toml
  docs/wasm.md
Due: core

feat(transport): add OpenTelemetry and Prometheus integration
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/telemetry.rs
Due: transport

feat(transport): improve connection pool with lifecycle management
  crates/mcpkit-transport/src/pool/config.rs
  crates/mcpkit-transport/src/pool/connection.rs
  crates/mcpkit-transport/src/pool/manager.rs
  crates/mcpkit-transport/src/runtime.rs
Due: transport

feat(examples): add smol runtime example
  docs/runtimes.md
  examples/smol-server/Cargo.toml
  examples/smol-server/src/main.rs
Due: none

docs: add client guide and update documentation
  README.md
  docs/client-guide.md
  docs/comparison.md
  docs/getting-started.md
  docs/production-deployment.md
Due: none

fix(deps): update prometheus and remove unused sqlx
  Cargo.lock
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  examples/database-server/Cargo.toml
Due: axum, actix

test(macros): add comprehensive tests for #[mcp_client] macro
  crates/mcpkit-macros-tests/tests/expand/client_elicitation.rs
  crates/mcpkit-macros-tests/tests/expand/client_empty.rs
  crates/mcpkit-macros-tests/tests/expand/client_full.rs
  crates/mcpkit-macros-tests/tests/expand/client_lifecycle.rs
  crates/mcpkit-macros-tests/tests/expand/client_notifications.rs
  crates/mcpkit-macros-tests/tests/expand/client_roots.rs
  crates/mcpkit-macros-tests/tests/expand/client_sampling.rs
  crates/mcpkit-macros/src/client.rs
Due: macros

test(macros): replace todo!() with error stubs in test code
  crates/mcpkit-macros/src/client.rs
Due: macros

chore: bump version to 0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Justfile
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  docs/adr/0004-runtime-agnostic-design.md
  docs/client-guide.md
  docs/extensions.md
  docs/getting-started.md
  docs/migration-from-rmcp.md
  docs/migration-to-1.0.md
  docs/production-deployment.md
  docs/runtimes.md
  docs/troubleshooting.md
  docs/versioning.md
  docs/wasm.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

feat(transport): implement gRPC transport with bidirectional streaming
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/build.rs
  crates/mcpkit-transport/proto/mcp.proto
  crates/mcpkit-transport/src/grpc/mod.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-transport/src/lib.rs
Due: transport

feat: add mcpkit-rocket web framework integration
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-rocket/README.md
  crates/mcpkit-rocket/src/error.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
Due: none

feat: add mcpkit-warp web framework integration
  crates/mcpkit-warp/Cargo.toml
  crates/mcpkit-warp/README.md
  crates/mcpkit-warp/src/error.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/lib.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/integration.rs
Due: none

feat(examples): add framework-specific server examples
  examples/grpc-client/Cargo.toml
  examples/grpc-client/src/main.rs
  examples/rocket-server/Cargo.toml
  examples/rocket-server/src/main.rs
  examples/warp-server/Cargo.toml
  examples/warp-server/src/main.rs
Due: none

feat(examples): add multi-service distributed architecture example
  examples/multi-service/Cargo.toml
  examples/multi-service/src/common.rs
  examples/multi-service/src/gateway.rs
  examples/multi-service/src/resources_service.rs
  examples/multi-service/src/tools_service.rs
Due: none

chore: add deployment configurations for Docker and Kubernetes
  deploy/README.md
  deploy/docker/Dockerfile
  deploy/docker/docker-compose.prod.yml
  deploy/docker/docker-compose.yml
  deploy/docker/prometheus.yml
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/hpa.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/pdb.yaml
  deploy/kubernetes/service.yaml
Due: none

docs: add benchmark baseline documentation
  benches/BENCHMARK_BASELINE.md
Due: none

chore: update workspace configuration and dependencies
  .github/workflows/stress-test.yml
  Cargo.lock
  Cargo.toml
Due: none

chore: update release workflow for new crates
  .github/workflows/release.yml
  Justfile
  deny.toml
  docs/versioning.md
Due: none

style: apply rustfmt formatting
  crates/mcpkit-rocket/src/error.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/integration.rs
  examples/grpc-client/src/main.rs
  examples/multi-service/src/gateway.rs
  examples/multi-service/src/resources_service.rs
  examples/multi-service/src/tools_service.rs
  examples/rocket-server/src/main.rs
  examples/warp-server/src/main.rs
Due: transport

fix: resolve release-check issues
  Cargo.lock
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-rocket/src/error.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/build.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-warp/src/error.rs
  crates/mcpkit-warp/tests/integration.rs
  examples/multi-service/Cargo.toml
  examples/rocket-server/Cargo.toml
  examples/rocket-server/src/main.rs
  examples/warp-server/Cargo.toml
Due: transport

chore: bump version to 0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/adr/0004-runtime-agnostic-design.md
  docs/client-guide.md
  docs/extensions.md
  docs/getting-started.md
  docs/migration-from-rmcp.md
  docs/migration-to-1.0.md
  docs/production-deployment.md
  docs/runtimes.md
  docs/troubleshooting.md
  docs/versioning.md
  docs/wasm.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

docs: update ROADMAP.md to v0.5.0 status
  ROADMAP.md
Due: none

docs: update migration-to-1.0.md for v0.5.0
  docs/migration-to-1.0.md
Due: none

docs: update api-stability.md date to December 2025
  docs/api-stability.md
Due: none

chore: enhance Justfile and RELEASING.md with best practices
  Justfile
  RELEASING.md
Due: none

chore: add feature matrix, cross-platform, and security recipes
  Justfile
  RELEASING.md
Due: none

chore: clean up repo for public announcement
  .gitignore
  .ignore/CLAUDE.md
  .ignore/IMPLEMENTATION_STATUS.md
  .ignore/PLAN.md
  .ignore/RESEARCH_FINDINGS.md
  README.md
  ROADMAP.md
Due: none

docs: fix outdated dates and version references
  SECURITY.md
  docs/adr/0004-runtime-agnostic-design.md
  docs/versioning.md
Due: none

chore: polish for public release
  LICENSE-APACHE
  LICENSE-MIT
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/architecture.md
Due: testing, axum, actix

docs: add missing gRPC and Windows transports to README
  README.md
Due: none

test(server): add comprehensive router request parsing tests
  crates/mcpkit-server/src/router.rs
Due: server

test(core): add property-based serialization tests
  crates/mcpkit-core/tests/property_serialization.rs
Due: none

refactor(transport): split rate limit middleware into submodules
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/middleware/mod.rs
  crates/mcpkit-transport/src/middleware/rate_limit/mod.rs
  crates/mcpkit-transport/src/middleware/rate_limit/store.rs
  crates/mcpkit-transport/tests/middleware_interaction.rs
Due: transport

test(transport): add WebSocket client and rate limit tests
  crates/mcpkit-transport/src/websocket/client.rs
  crates/mcpkit-transport/tests/middleware_interaction.rs
Due: transport
