Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

test(client): add message routing integration tests
  mcpkit/tests/client_message_routing.rs
Due: none

feat(actix): remove Clone requirement from handler types
  crates/mcpkit-actix/src/router.rs
Due: actix

feat(prelude): re-export serde traits and json macro
  crates/mcpkit-core/src/lib.rs
  mcpkit/src/prelude.rs
Due: core

docs(http): improve README documentation for axum and actix
  crates/mcpkit-actix/README.md
  crates/mcpkit-axum/README.md
Due: axum, actix

fix(transport): resolve async cancellation bug in BufReader causing message duplication
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/spawn.rs
  crates/mcpkit-transport/src/stdio.rs
  mcpkit/tests/request_id_correlation.rs
Due: transport, client

style: apply rustfmt and fix clippy doc lint warnings
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-transport/src/runtime.rs
  mcpkit/tests/client_message_routing.rs
  mcpkit/tests/request_id_correlation.rs
Due: transport, axum, actix

style: fix clippy doc_markdown and uninlined_format_args lints in test files
  mcpkit/tests/client_message_routing.rs
  mcpkit/tests/request_id_correlation.rs
Due: none

fix(justfile): add --workspace to all clippy invocations and fix examples recipe
  Justfile
Due: none

chore: bump version to 0.2.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  mcpkit/Cargo.toml
Due: transport, server, client, testing, axum, actix

feat(examples): add filesystem-server with sandboxed file operations
  examples/filesystem-server/Cargo.toml
  examples/filesystem-server/src/main.rs
Due: none

feat(testing): add integration test script and server wrapper
  scripts/filesystem-server-wrapper.sh
  scripts/integration-test.sh
Due: none

docs: add performance baseline and Claude Desktop WSL2 guide
  docs/claude-desktop-wsl2.md
  docs/performance-baseline.md
  docs/performance.md
  docs/production-deployment.md
  docs/runtimes.md
Due: none

fix(examples): update client-example to use filesystem-server
  examples/client-example/src/main.rs
Due: none

feat(fuzz): add protocol version fuzz target and stress test CI
  .github/workflows/fuzz.yml
  .github/workflows/stress-test.yml
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/fuzz_protocol_version.rs
Due: none

chore: add developer tooling and document security advisories
  CONTRIBUTING.md
  Justfile
  deny.toml
Due: none

feat(transport): add zero-copy handling and optimize rate limiter
  crates/mcpkit-transport/src/http/server.rs
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/middleware/rate_limit.rs
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/stdio.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/websocket/mod.rs
  crates/mcpkit-transport/src/websocket/server.rs
Due: transport

refactor(benches): update benchmarks for bytes integration
  benches/benches/memory.rs
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  benches/benches/transport.rs
Due: none

style: fix clippy warnings across crates
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-macros/src/error.rs
  crates/mcpkit-server/src/state.rs
  crates/mcpkit-testing/src/lib.rs
  crates/mcpkit-testing/src/mock.rs
  mcpkit/src/lib.rs
Due: server, macros, testing, axum

chore: update dependencies and workspace configuration
  Cargo.lock
  Cargo.toml
Due: none

docs: update CHANGELOG for v0.2.5 unreleased changes
  CHANGELOG.md
Due: none

fix(justfile): add filesystem-server to examples recipe
  Justfile
Due: none

docs: add test guidelines and consolidate release documentation
  CONTRIBUTING.md
  RELEASING.md
Due: none

build(justfile): add typos and publish recipes
  Justfile
Due: none

fix(compat): restore semver backwards compatibility
  crates/mcpkit-server/src/state.rs
  crates/mcpkit-testing/src/mock.rs
  crates/mcpkit-transport/src/websocket/server.rs
Due: transport, server, testing

fix(examples): ensure MSRV 1.85 compatibility in filesystem-server
  examples/filesystem-server/src/main.rs
Due: none

build: clean up release tooling configuration
  .cargo/audit.toml
  _typos.toml
  deny.toml
Due: none

build: add cargo-machete ignore annotations
  benches/Cargo.toml
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-core/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  examples/client-example/Cargo.toml
  examples/database-server/Cargo.toml
  examples/filesystem-server/Cargo.toml
  examples/full-server/Cargo.toml
  examples/http-server/Cargo.toml
  examples/minimal-server/Cargo.toml
  examples/websocket-server/Cargo.toml
  examples/with-middleware/Cargo.toml
Due: core, transport, server, testing, axum, actix

fix(ci): ensure local deny check matches CI exactly
  Justfile
  RELEASING.md
  deny.toml
Due: none

refactor(transport): replace async-std with smol runtime
  .cargo/audit.toml
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-core/README.md
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/README.md
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/memory.rs
  crates/mcpkit-transport/src/runtime.rs
  crates/mcpkit-transport/src/stdio.rs
  crates/mcpkit-transport/src/traits.rs
  deny.toml
  docs/runtimes.md
Due: core, transport

build: update dependencies to latest compatible versions
  Cargo.lock
Due: none

chore: release v0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  docs/getting-started.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

fix(macros): resolve circular dev-dependency for publishing
  crates/mcpkit-macros/Cargo.toml
Due: macros

refactor(macros): extract integration tests to break circular dependency
  Cargo.lock
  Cargo.toml
  crates/mcpkit-macros-tests/Cargo.toml
  crates/mcpkit-macros-tests/src/lib.rs
  crates/mcpkit-macros-tests/tests/expand.rs
  crates/mcpkit-macros-tests/tests/expand/empty_server.rs
  crates/mcpkit-macros-tests/tests/expand/multiple_tools.rs
  crates/mcpkit-macros-tests/tests/expand/prompt_only.rs
  crates/mcpkit-macros-tests/tests/expand/resource_only.rs
  crates/mcpkit-macros-tests/tests/expand/tool_only.rs
  crates/mcpkit-macros-tests/tests/expand/with_instructions.rs
  crates/mcpkit-macros/Cargo.toml
Due: macros

feat(core): add protocol extension infrastructure
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/extension.rs
  crates/mcpkit-core/src/lib.rs
Due: core

feat(http): add OAuth protected resource discovery endpoints
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
Due: axum, actix

fix(actix): remove unused actix-web-actors dependency
  Cargo.lock
  crates/mcpkit-actix/Cargo.toml
Due: actix

docs: update version references from 0.2 to 0.3
  SECURITY.md
  docs/adr/0004-runtime-agnostic-design.md
  docs/extensions.md
  docs/migration-from-rmcp.md
  docs/production-deployment.md
  docs/runtimes.md
  docs/troubleshooting.md
  docs/versioning.md
Due: none

docs: add 1.0 release documentation
  ROADMAP.md
  docs/api-stability.md
  docs/migration-to-1.0.md
Due: none

feat(core): add debug tooling for protocol inspection
  crates/mcpkit-core/src/debug/inspector.rs
  crates/mcpkit-core/src/debug/mod.rs
  crates/mcpkit-core/src/debug/recorder.rs
  crates/mcpkit-core/src/debug/validator.rs
Due: core

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
