Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true
    patch:
      default:
        target: 70%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "examples/**/*"
  - "benches/**/*"
  - "**/tests/**/*"
  - "target/**/*"

flags:
  core:
    paths:
      - crates/mcpkit-core/
    carryforward: true
  transport:
    paths:
      - crates/mcpkit-transport/
    carryforward: true
  server:
    paths:
      - crates/mcpkit-server/
    carryforward: true
  client:
    paths:
      - crates/mcpkit-client/
    carryforward: true
  macros:
    paths:
      - crates/mcpkit-macros/
    carryforward: true
  testing:
    paths:
      - crates/mcpkit-testing/
    carryforward: true
  axum:
    paths:
      - crates/mcpkit-axum/
    carryforward: true
  actix:
    paths:
      - crates/mcpkit-actix/
    carryforward: true

fix(core): default CallToolResult.content to empty when absent (#61)
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
Due: core

fix(transport): surface JSON-RPC error bodies on non-2xx HTTP, handle 401
  CHANGELOG.md
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/http/client.rs
Due: transport

chore: update Cargo.lock for wiremock dev-dependency
  Cargo.lock
Due: none

fix(transport): surface JSON-RPC error bodies on non-2xx HTTP, handle 401, add HTTP test harness (#62)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/http/client.rs
Due: transport

feat(core): add outputSchema and structuredContent fields
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, server, macros, testing

feat(core): add outputSchema and structuredContent fields (#63)
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, server, macros, testing

feat: Json<T> tool-return wrapper for structured output
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/Cargo.toml
  crates/mcpkit-macros-tests/tests/structured_output.rs
  crates/mcpkit-macros/src/codegen.rs
Due: core, macros

feat: Json<T> tool-return wrapper for structured output (#64)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/Cargo.toml
  crates/mcpkit-macros-tests/tests/structured_output.rs
  crates/mcpkit-macros/src/codegen.rs
Due: core, macros

feat(macros): derive tool outputSchema from a Json<T> return type
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/structured_output.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
Due: core, macros

feat(macros): derive tool outputSchema from a Json<T> return type (#65)
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/structured_output.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
Due: core, macros

fix(transport): accept all supported MCP-Protocol-Version values on the HTTP server
  CHANGELOG.md
  crates/mcpkit-transport/src/http/server.rs
Due: transport

fix(transport): accept all supported MCP-Protocol-Version values on the HTTP server (#66)
  CHANGELOG.md
  crates/mcpkit-transport/src/http/server.rs
Due: transport

fix(adapters): assume 2025-03-26 when MCP-Protocol-Version header is absent
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-warp/src/lib.rs
Due: axum, actix

fix(adapters): assume 2025-03-26 when MCP-Protocol-Version header is absent (#67)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-warp/src/lib.rs
Due: axum, actix

fix(adapters): reap expired sessions and bound un-initialized ones
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/session.rs
Due: axum, actix

fix(adapters): export DEFAULT_INIT_TIMEOUT so its doc link resolves
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-axum/src/lib.rs
Due: axum, actix

fix(adapters): reap expired sessions and bound un-initialized ones (#68)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/session.rs
Due: axum, actix

fix(adapters): reap idle sessions on create in the warp and rocket stores
  CHANGELOG.md
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/lib.rs
  crates/mcpkit-warp/src/session.rs
Due: none

fix(adapters): reap idle sessions on create in the warp and rocket stores (#69)
  CHANGELOG.md
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/lib.rs
  crates/mcpkit-warp/src/session.rs
Due: none

feat(adapters): surface the negotiated protocol version and client capabilities
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/client-guide.md
  docs/getting-started.md
  docs/migration-from-rmcp.md
  docs/migration-to-1.0.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

feat(adapters): surface the negotiated protocol version and client capabilities (#70)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/client-guide.md
  docs/getting-started.md
  docs/migration-from-rmcp.md
  docs/migration-to-1.0.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

feat(adapters): surface the negotiated init state in the warp and rocket adapters
  CHANGELOG.md
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/session.rs
Due: none

feat(adapters): surface the negotiated init state in the warp and rocket adapters (#71)
  CHANGELOG.md
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/session.rs
Due: none

ci: run semver-checks against all publishable crates
  .github/workflows/ci.yml
Due: none

ci: run semver-checks against all publishable crates (#72)
  .github/workflows/ci.yml
Due: none

chore: mark internal connection structs doc(hidden)
  CHANGELOG.md
  crates/mcpkit-core/src/state.rs
  crates/mcpkit-server/src/state.rs
Due: core, server

chore: mark internal connection structs doc(hidden) (#74)
  CHANGELOG.md
  crates/mcpkit-core/src/state.rs
  crates/mcpkit-server/src/state.rs
Due: core, server

docs: remove references to the nonexistent `experimental` feature
  docs/api-stability.md
  docs/migration-to-1.0.md
  docs/versioning.md
Due: none

docs: remove references to the nonexistent `experimental` feature (#75)
  docs/api-stability.md
  docs/migration-to-1.0.md
  docs/versioning.md
Due: none

docs: refresh stale version status and classify the adapter crates
  docs/api-stability.md
  docs/versioning.md
Due: none

docs: refresh stale version status and classify the adapter crates (#76)
  docs/api-stability.md
  docs/versioning.md
Due: none

ci: skip heavy jobs on docs-only PRs and trim the PR critical path
  .github/workflows/ci.yml
Due: none

ci: skip heavy jobs on docs-only PRs and trim the PR critical path (#89)
  .github/workflows/ci.yml
Due: none

fix: rename elicitation/elicit to elicitation/create
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-macros/src/lib.rs
Due: client, macros

fix: rename elicitation/elicit to elicitation/create (#90)
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-macros/src/lib.rs
Due: client, macros

docs: changelog entry for the elicitation/create method-name fix (#90) (#91)
  CHANGELOG.md
Due: none

docs: changelog entry for the elicitation/create method-name fix (#90)
  CHANGELOG.md
Due: none

feat: add ResourceLink content type
  crates/mcpkit-core/src/types/content.rs
Due: core

fix: add name and description fields to ResourceLinkContent
  crates/mcpkit-core/src/types/content.rs
Due: core

feat: add ResourceLinkContent type (#92)
  crates/mcpkit-core/src/types/content.rs
Due: core
