Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true
    patch:
      default:
        target: 70%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "examples/**/*"
  - "benches/**/*"
  - "**/tests/**/*"
  - "target/**/*"

flags:
  core:
    paths:
      - crates/mcpkit-core/
    carryforward: true
  transport:
    paths:
      - crates/mcpkit-transport/
    carryforward: true
  server:
    paths:
      - crates/mcpkit-server/
    carryforward: true
  client:
    paths:
      - crates/mcpkit-client/
    carryforward: true
  macros:
    paths:
      - crates/mcpkit-macros/
    carryforward: true
  testing:
    paths:
      - crates/mcpkit-testing/
    carryforward: true
  axum:
    paths:
      - crates/mcpkit-axum/
    carryforward: true
  actix:
    paths:
      - crates/mcpkit-actix/
    carryforward: true

feat(completion): make completion/complete functional and spec-complete (#113) (#152)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/completion.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: core, server, client, axum, actix

feat(server): dispatch inbound client notifications to ServerHandler hooks (#141)
  CHANGELOG.md
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
Due: server

feat(server): dispatch inbound client notifications to ServerHandler hooks (#141) (#154)
  CHANGELOG.md
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
Due: server

refactor(tasks): factor task-store routing + tool-task helpers into shared free functions
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(adapters): task-augmented tools/call + tasks/* on the HTTP adapters (#122)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/session.rs
Due: server, axum, actix

fix(deps): bump crossbeam-epoch 0.9.18 -> 0.9.20 (RUSTSEC-2026-0204)
  Cargo.lock
Due: none

feat(adapters): task-augmented tools/call + tasks/* on the HTTP adapters (#122) (#155)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/session.rs
Due: server, axum, actix

feat(tasks): TTL cleanup for terminal tasks, configurable end-to-end (#121)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
Due: server, axum, actix

feat(tasks): TTL cleanup for terminal tasks, configurable end-to-end (#121) (#156)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
Due: server, axum, actix

docs(tasks): guide CPU-bound/blocking tool handlers to offload (#123)
  crates/mcpkit-server/src/handler.rs
Due: server

docs(tasks): guide CPU-bound/blocking tool handlers to offload (#123) (#157)
  crates/mcpkit-server/src/handler.rs
Due: server

docs: refresh stale struct-literal examples after fidelity work (#149) (#158)
  docs/macros.md
  docs/prompts.md
  docs/tools.md
Due: none

docs: refresh stale struct-literal examples after fidelity work (#149)
  docs/macros.md
  docs/prompts.md
  docs/tools.md
Due: none

feat(tasks): route tasks/list through ListTasksResult (nextCursor + _meta) (#150)
  CHANGELOG.md
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/router.rs
Due: core, server

feat(tasks): route tasks/list through ListTasksResult (nextCursor + _meta) (#150) (#159)
  CHANGELOG.md
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/router.rs
Due: core, server

chore: follow-ups from the #147 object-typing review
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-server/src/router.rs
  examples/http-server/src/main.rs
  examples/multi-service/src/tools_service.rs
  examples/websocket-server/src/main.rs
  examples/with-middleware/src/main.rs
Due: core, server, client

chore: follow-ups from the #147 object-typing review (#161)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-server/src/router.rs
  examples/http-server/src/main.rs
  examples/multi-service/src/tools_service.rs
  examples/websocket-server/src/main.rs
  examples/with-middleware/src/main.rs
Due: core, server, client

feat(core)!: task-augmented sampling types and tasks capability (#143 phase 1)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/builder.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server, client, macros

feat(core)!: task-augmented sampling types and tasks capability (#143 phase 1) (#162)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/builder.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server, client, macros

feat(core)!: shared receiver-side task store with spec fixes (#143 phase 2)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-core/Cargo.toml
  crates/mcpkit-core/src/error/jsonrpc.rs
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
Due: core, server, axum, actix

feat(core)!: shared receiver-side task store with spec fixes (#143 phase 2) (#163)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-core/Cargo.toml
  crates/mcpkit-core/src/error/jsonrpc.rs
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
Due: core, server, axum, actix

feat(client)!: task-augmented sampling execution (#143 phase 3)
  CHANGELOG.md
  crates/mcpkit-client/src/builder.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-client/src/lib.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-macros/src/client.rs
Due: core, client, macros

feat(client)!: task-augmented sampling execution (#143 phase 3) (#164)
  CHANGELOG.md
  crates/mcpkit-client/src/builder.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-client/src/lib.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-macros/src/client.rs
Due: core, client, macros

fix(docs): bump stale 0.5 install snippets and widen the version-sync guard
  .github/workflows/ci.yml
  CHANGELOG.md
  RELEASING.md
  docs/client-guide.md
  docs/extensions.md
  docs/migration-to-1.0.md
  docs/runtimes.md
  docs/wasm.md
Due: none

fix(docs): bump stale 0.5 install snippets and widen the version-sync guard (#167)
  .github/workflows/ci.yml
  CHANGELOG.md
  RELEASING.md
  docs/client-guide.md
  docs/extensions.md
  docs/migration-to-1.0.md
  docs/runtimes.md
  docs/wasm.md
Due: none

docs(adr): record the v0.6.0 release incident and process hardening (#168)
  docs/adr/0005-v0.6.0-release-incident.md
  docs/adr/README.md
Due: none

docs(adr): record the v0.6.0 release incident and process hardening
  docs/adr/0005-v0.6.0-release-incident.md
  docs/adr/README.md
Due: none

fix(server)!: reject task-augmenting a forbidden tool with -32601
  CHANGELOG.md
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

fix(server)!: reject task-augmenting a forbidden tool with -32601 (#169)
  CHANGELOG.md
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(core): type the task field on CallToolRequest (#166)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/tool.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, client

feat(core): type the task field on CallToolRequest (#166) (#170)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/tool.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, client

ci(release): extract publish script and commit its test harness
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/publish-crates-test.sh
  scripts/publish-crates.sh
Due: none

ci(release): extract publish script and commit its test harness (#171)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/publish-crates-test.sh
  scripts/publish-crates.sh
Due: none

fix(adapters): accept POSTed JSON-RPC responses with 202 (#153 PR 0a)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/integration.rs
Due: axum, actix

fix(adapters): accept POSTed JSON-RPC responses with 202 (#153 PR 0a) (#174)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/integration.rs
Due: axum, actix

chore(tests): use assert_eq for error-code assertions (clippy 1.97)
  mcpkit/tests/error_scenarios.rs
Due: none

chore(tests): use assert_eq for error-code assertions (clippy 1.97) (#175)
  mcpkit/tests/error_scenarios.rs
Due: none

fix(adapters)!: require mcp-session-id on non-initialize messages (#153 PR 0b)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/completion.rs
  crates/mcpkit-axum/tests/logging_setlevel.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/integration.rs
Due: axum, actix
