Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true
    patch:
      default:
        target: 70%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

ignore:
  - "examples/**/*"
  - "benches/**/*"
  - "**/tests/**/*"
  - "target/**/*"

flags:
  core:
    paths:
      - crates/mcpkit-core/
    carryforward: true
  transport:
    paths:
      - crates/mcpkit-transport/
    carryforward: true
  server:
    paths:
      - crates/mcpkit-server/
    carryforward: true
  client:
    paths:
      - crates/mcpkit-client/
    carryforward: true
  macros:
    paths:
      - crates/mcpkit-macros/
    carryforward: true
  testing:
    paths:
      - crates/mcpkit-testing/
    carryforward: true
  axum:
    paths:
      - crates/mcpkit-axum/
    carryforward: true
  actix:
    paths:
      - crates/mcpkit-actix/
    carryforward: true

fix(adapters)!: require mcp-session-id on non-initialize messages (#153 PR 0b) (#176)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/completion.rs
  crates/mcpkit-axum/tests/logging_setlevel.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/integration.rs
Due: axum, actix

fix(axum)!: unify SSE and POST sessions; serve GET on the MCP endpoint
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/sse_binding.rs
Due: axum

fix(axum)!: unify SSE and POST sessions; serve GET on the MCP endpoint (#177)
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/sse_binding.rs
Due: axum

feat(server)!: shared per-stream SSE delivery; adopt in axum (#153 PR 2)
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/streams.rs
Due: server, axum

feat(server)!: shared per-stream SSE delivery; adopt in axum (#153 PR 2) (#178)
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/streams.rs
Due: server, axum

feat(server): server->client session peer primitive (#153 PR 3)
  CHANGELOG.md
  crates/mcpkit-server/src/adapter_peer.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): server->client session peer primitive (#153 PR 3) (#179)
  CHANGELOG.md
  crates/mcpkit-server/src/adapter_peer.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(axum): wire the session peer — server-initiated requests over HTTP (#153 PR 4)
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server, axum

feat(axum): wire the session peer — server-initiated requests over HTTP (#153 PR 4) (#180)
  CHANGELOG.md
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/lib.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server, axum

feat(actix)!: port to the unified session + stream registry + peer (#153 PR 5a)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-server/src/adapter_peer.rs
Due: server, axum, actix

feat(actix)!: port to the unified session + stream registry + peer (#153 PR 5a) (#181)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/lib.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-server/src/adapter_peer.rs
Due: server, axum, actix

feat(warp)!: port to the unified session + stream registry + peer (#153 PR 5b)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-warp/Cargo.toml
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/lib.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: none

feat(warp)!: port to the unified session + stream registry + peer (#153 PR 5b) (#182)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-warp/Cargo.toml
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/lib.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: none

feat(rocket)!: port to the unified session + stream registry + peer (#153 PR 5c)
  CHANGELOG.md
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
Due: none

feat(rocket)!: port to the unified session + stream registry + peer (#153 PR 5c) (#183)
  CHANGELOG.md
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
Due: none

feat(server)!: carry the session peer into task-augmented tools (#153 PR 6)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: server, axum, actix

feat(server)!: carry the session peer into task-augmented tools (#153 PR 6) (#184)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: server, axum, actix

feat(core)!: close misc 2025-11-25 field/type gaps (#114)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/pool.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-warp/src/router.rs
  mcpkit/tests/initialization_compliance.rs
Due: core, client, axum, actix

feat(core)!: close misc 2025-11-25 field/type gaps (#114) (#185)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/pool.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-warp/src/router.rs
  mcpkit/tests/initialization_compliance.rs
Due: core, client, axum, actix

test(spec): vendor the official MCP 2025-11-25 schema and add a diff script
  scripts/schema-diff.sh
  spec/2025-11-25/schema.json
  spec/PROVENANCE.md
Due: none

fix(core): reject-free validation of conforming sessions in ProtocolValidator
  crates/mcpkit-core/src/debug/validator.rs
Due: core

feat(core): observable task lifecycle transitions
  crates/mcpkit-core/src/tasks.rs
Due: core

feat(server): ambient notification pump on ServerState
  crates/mcpkit-server/src/server.rs
Due: server

feat: implement notifications/tasks/status in both directions
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server, client

docs(readme): claim only the rmcp fact that is verifiable
  README.md
Due: none

build(core): drop unused schemars and futures dependencies
  Cargo.lock
  crates/mcpkit-core/Cargo.toml
Due: core

docs(core)!: use the real MCP extension identifiers
  crates/mcpkit-core/src/extension/mod.rs
Due: core

ci: check links in rustdoc comments and spec/, not just docs/
  .github/workflows/ci.yml
Due: none

feat(core)!: carry _meta on InitializeRequest
  crates/mcpkit-core/src/capability.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
  mcpkit/tests/initialization_compliance.rs
Due: core

test: assert the correct error code and negotiated version, not merely an error
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/error_code_conformance.rs
  mcpkit/tests/version_negotiation_conformance.rs
Due: server

ci: gate mcpkit's wire vocabulary against the vendored schema
  .github/workflows/ci.yml
  scripts/schema-diff.sh
  spec/schema-diff-baseline.txt
Due: none

docs(adr): record the ambient notification seam and where the loop is headed
  docs/adr/0006-ambient-notification-seam.md
  docs/adr/README.md
Due: none

style: satisfy clippy, rustdoc and typos on the new code
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/version_negotiation_conformance.rs
Due: server

fix(core)!: make an unowned taskId impossible to answer with method-not-found
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/tests/integration.rs
Due: core, server, client, axum, actix

fix(server): emit notifications/tasks/status on the HTTP adapters too
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-actix/tests/integration.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-axum/tests/tasks.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-warp/src/session.rs
  crates/mcpkit-warp/tests/integration.rs
Due: server, axum, actix

feat(server)!: make RuntimeConfig non_exhaustive with setters
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/tests/runtime_config_api.rs
Due: server

ci: enforce spelling, unused deps and shellcheck, and clear what they found
  .github/workflows/ci.yml
  Cargo.lock
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/http/client.rs
Due: transport, server

fix(testing): send the spec-named initialized notification, not "initialized"
  crates/mcpkit-testing/src/client.rs
  crates/mcpkit-testing/src/scenario.rs
  examples/http-server/src/main.rs
  examples/websocket-server/src/main.rs
  examples/with-middleware/src/main.rs
Due: testing

docs: correct three stale claims, measured rather than reworded
  README.md
  ROADMAP.md
  docs/adr/0006-ambient-notification-seam.md
  docs/comparison.md
Due: none

fix(deps): resolve RUSTSEC-2026-0185 (quinn-proto remote memory exhaustion)
  Cargo.lock
Due: none
