Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

build(bench): move the rmcp comparison benchmark to 2.2, and note the next revision
  Cargo.lock
  ROADMAP.md
  crates/mcpkit-core/Cargo.toml
  docs/comparison.md
Due: core

ci: stop ci-success passing runs where required work was skipped
  .github/workflows/ci.yml
Due: none

feat!: make the remaining public config structs non_exhaustive
  crates/mcpkit-client/src/pool.rs
  crates/mcpkit-core/src/auth/oauth.rs
  crates/mcpkit-core/src/extension/apps.rs
  crates/mcpkit-core/tests/config_api.rs
  crates/mcpkit-server/src/streams.rs
  crates/mcpkit-server/tests/stream_config_api.rs
  crates/mcpkit-transport/src/grpc/transport.rs
  crates/mcpkit-transport/src/http/config.rs
  crates/mcpkit-transport/src/middleware/batching.rs
  crates/mcpkit-transport/src/middleware/rate_limit/mod.rs
  crates/mcpkit-transport/src/telemetry.rs
  crates/mcpkit-transport/src/unix.rs
  crates/mcpkit-transport/src/websocket/config.rs
  crates/mcpkit-transport/src/windows.rs
Due: core, transport, server, client

test: cover the five behavioural blind spots a schema diff cannot see
  mcpkit/tests/protocol_behaviour_conformance.rs
Due: none

fix(core)!: settle four spec questions against the prose, correct the MCP Apps MIME type
  crates/mcpkit-core/src/error/codes.rs
  crates/mcpkit-core/src/extension/apps.rs
  crates/mcpkit-core/src/types/tool.rs
Due: core

test(spec): diff every schema type with a same-named struct, not a 7-type sample
  ROADMAP.md
  mcpkit/src/lib.rs
  scripts/schema-diff.sh
  spec/schema-diff-baseline.txt
Due: none

feat(core)!: carry _meta on the 21 types the schema declares it on
  ROADMAP.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-core/src/types/logging.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/roots.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/expand/client_roots.rs
  crates/mcpkit-server/src/capability/completions.rs
  mcpkit/tests/tool_schema_compatibility.rs
  spec/schema-diff-baseline.txt
Due: core, server, client

refactor(core)!: move spec method names to core and complete them
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/methods.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/protocol_behaviour_conformance.rs
Due: core, server

docs(migration): retarget the rmcp guide to 2.2 and compile-check its API claims
  Cargo.lock
  docs/migration-from-rmcp.md
  mcpkit/Cargo.toml
  mcpkit/tests/migration_guide_api.rs
Due: none

feat(core): suggest a task poll interval, and validate _meta key names
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-server/src/server.rs
Due: core, server

docs: release notes for the spec-conformance audit, and correct the 1.0 guide
  CHANGELOG.md
  docs/migration-to-1.0.md
Due: none

fix(ci): pin the schema-diff locale, and exclude the http:// fixtures lychee now sees
  .github/workflows/ci.yml
  scripts/schema-diff.sh
  spec/schema-diff-baseline.txt
Due: none

fix(ci): restrict lychee to web schemes
  .github/workflows/ci.yml
Due: none

fix(server): drop a let-chain that breaks the 1.85 MSRV
  crates/mcpkit-server/src/server.rs
Due: server

docs(core): finish removing the fabricated io.mcp.apps, and record the MCP Apps staleness
  ROADMAP.md
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/extension/apps.rs
  crates/mcpkit-core/src/extension/discovery.rs
  crates/mcpkit-core/src/extension/mod.rs
Due: core

ci: stop link-check failing on throughput rather than link health
  .github/workflows/ci.yml
Due: none

fix: address second review — a missing setter, two test gaps, and four wrong numbers
  .github/workflows/ci.yml
  CHANGELOG.md
  ROADMAP.md
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/tests/runtime_config_api.rs
  crates/mcpkit-transport/src/websocket/config.rs
  mcpkit/tests/config_construction.rs
  mcpkit/tests/protocol_behaviour_conformance.rs
  scripts/schema-diff.sh
Due: core, transport, server

test: cover every reachable config, and stop an upstream outage failing schema-check
  .github/workflows/ci.yml
  mcpkit/tests/config_construction.rs
  mcpkit/tests/protocol_behaviour_conformance.rs
Due: none

fix(test): gate the Unix-only config construction behind cfg(unix)
  mcpkit/tests/config_construction.rs
Due: none

feat(core)!: close the elicitation _meta gap the name-matched diff could not see
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-core/src/types/notifications.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/roots.rs
  crates/mcpkit-core/src/types/sampling.rs
  scripts/schema-diff.sh
Due: core

feat(server): carry the related task id into every outbound request
  CHANGELOG.md
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: core, server

fix(ci): make the method rows of the schema gate capable of failing
  scripts/schema-diff.sh
  spec/schema-diff-baseline.txt
Due: none

build: drop the unused schemars workspace dependency
  Cargo.toml
Due: none

test(adapters): assert the behavioural invariants on every dispatch path
  CHANGELOG.md
  ROADMAP.md
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
Due: none

feat!: re-audit against the pinned schema — close a spec MUST, and make two gate rows capable of failing (#187)
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  crates/mcpkit-actix/tests/peer_e2e.rs
  crates/mcpkit-axum/tests/peer_e2e.rs
  crates/mcpkit-core/src/tasks.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-core/src/types/notifications.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/roots.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-rocket/tests/peer_e2e.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/tests/peer_e2e.rs
  scripts/schema-diff.sh
  spec/schema-diff-baseline.txt
Due: core, server

docs: prepare the 0.7.0 release
  CHANGELOG.md
  RELEASING.md
  ROADMAP.md
  docs/migration-to-1.0.md
  docs/versioning.md
Due: none

docs: prepare the 0.7.0 release (#188)
  CHANGELOG.md
  RELEASING.md
  ROADMAP.md
  docs/migration-to-1.0.md
  docs/versioning.md
Due: none

docs(release): replace the publish-order rationale with the real graph
  scripts/publish-crates.sh
Due: none

fix(release): make just publish-dry runnable
  Justfile
  RELEASING.md
  docs/adr/0005-v0.6.0-release-incident.md
Due: none

ci: teach version-sync about RELEASING.md's own header
  .github/workflows/ci.yml
Due: none

ci: gate on offline link checking, move external links to a schedule
  .github/workflows/ci.yml
  .github/workflows/link-check-external.yml
  CONTRIBUTING.md
Due: none

chore(release): follow-ups — a rule that couldn't pass, a rationale that was fiction, two gates with holes (#189)
  .github/workflows/ci.yml
  .github/workflows/link-check-external.yml
  CONTRIBUTING.md
  Justfile
  RELEASING.md
  docs/adr/0005-v0.6.0-release-incident.md
  scripts/publish-crates.sh
Due: none

ci: seed the cross-platform cache and take macOS off the PR path
  .github/workflows/ci.yml
  .github/workflows/cross-platform.yml
Due: none

build: make cross-check a real gate and put it on the pre-push path
  Justfile
Due: none

ci: make version-sync exemptions per line instead of per file
  .github/workflows/ci.yml
  docs/adr/0004-runtime-agnostic-design.md
  docs/api-stability.md
  docs/migration-to-1.0.md
Due: none

fix(just): move the ci comment above its attributes
  Justfile
Due: none

ci: cut the PR wait — seed the cross-platform cache, move macOS off the PR path, make cross-check real (#190)
  .github/workflows/ci.yml
  .github/workflows/cross-platform.yml
  Justfile
  docs/adr/0004-runtime-agnostic-design.md
  docs/api-stability.md
  docs/migration-to-1.0.md
Due: none

fix(msrv)!: raise the floor to 1.88 and verify it against the declaration
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  RELEASING.md
  ROADMAP.md
  crates/mcpkit-rocket/README.md
  crates/mcpkit-warp/README.md
  deploy/docker/Dockerfile
  docs/api-stability.md
  docs/client-guide.md
  docs/getting-started.md
  docs/migration-to-1.0.md
  docs/performance-baseline.md
  docs/troubleshooting.md
  docs/versioning.md
  examples/http-server/Dockerfile
Due: none

fix(ci): stop the nightly fuzzer from discarding its own findings
  .github/workflows/fuzz.yml
Due: none

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
