Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

feat(client): handle URL-mode elicitation + completion (#103 PR2)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-macros-tests/tests/client_url_elicitation.rs
  crates/mcpkit-macros/src/client.rs
Due: client, macros

feat(client): handle URL-mode elicitation + completion (#103 PR2) (#127)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-macros-tests/tests/client_url_elicitation.rs
  crates/mcpkit-macros/src/client.rs
Due: client, macros

feat(server): opt-in list pagination with opaque cursors (#78 PR1)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/pagination.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
Due: core, server, axum, actix

feat(server): opt-in list pagination with opaque cursors (#78 PR1) (#128)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/pagination.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
Due: core, server, axum, actix

feat(adapters): list_page_size config on HTTP adapters (#78 PR2)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: axum, actix

feat(adapters): list_page_size config on HTTP adapters (#78 PR2) (#129)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: axum, actix

feat(client): follow list pagination to exhaustion (#78 PR3)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
Due: client

feat(client): follow list pagination to exhaustion (#78 PR3) (#130)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
Due: client

chore(deps): bump anyhow to 1.0.103 for RUSTSEC-2026-0190
  Cargo.lock
Due: none

chore(deps): bump anyhow to 1.0.103 for RUSTSEC-2026-0190 (#132)
  Cargo.lock
Due: none

feat(server): opt-in tool I/O schema validation (#85)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
Due: server

build(deny): allow MIT-0 license (jsonschema's borrow-or-share dep)
  deny.toml
Due: none

feat(server): opt-in tool I/O schema validation (#85) (#131)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
  deny.toml
Due: server

feat(transport): redaction hook for LoggingLayer content logging (#84)
  CHANGELOG.md
  crates/mcpkit-transport/src/middleware/logging.rs
Due: transport

feat(transport): redaction hook for LoggingLayer content logging (#84) (#133)
  CHANGELOG.md
  crates/mcpkit-transport/src/middleware/logging.rs
Due: transport

refactor(transport)!: remove non-functional standalone HTTP listener (#83)
  CHANGELOG.md
  crates/mcpkit-transport/src/http/mod.rs
  crates/mcpkit-transport/src/http/origin.rs
  crates/mcpkit-transport/src/http/server.rs
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/websocket/server.rs
  docs/security.md
  docs/transports.md
Due: transport

refactor(transport)!: remove non-functional standalone HTTP listener (#83) (#134)
  CHANGELOG.md
  crates/mcpkit-transport/src/http/mod.rs
  crates/mcpkit-transport/src/http/origin.rs
  crates/mcpkit-transport/src/http/server.rs
  crates/mcpkit-transport/src/lib.rs
  crates/mcpkit-transport/src/websocket/server.rs
  docs/security.md
  docs/transports.md
Due: transport

feat(core)!: add protocol _meta foundation (#109)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/expand/client_full.rs
  crates/mcpkit-macros-tests/tests/expand/client_sampling.rs
  crates/mcpkit-macros-tests/tests/expand/prompt_only.rs
  crates/mcpkit-macros/src/lib.rs
  crates/mcpkit-macros/src/prompt.rs
  crates/mcpkit-macros/tests/compile-fail/prompt_missing_description.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
  crates/mcpkit-testing/src/mock.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/integration.rs
  examples/database-server/src/main.rs
  examples/full-server/src/main.rs
  examples/rocket-server/src/main.rs
  examples/warp-server/src/main.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
  mcpkit/tests/initialization_compliance.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, server, client, macros, testing, axum, actix

refactor(core): keep base Task spec-pure; add Meta::iter (#109 review)
  CHANGELOG.md
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/task.rs
Due: core

feat(core)!: protocol _meta foundation (#109) (#135)
  CHANGELOG.md
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/expand/client_full.rs
  crates/mcpkit-macros-tests/tests/expand/client_sampling.rs
  crates/mcpkit-macros-tests/tests/expand/prompt_only.rs
  crates/mcpkit-macros/src/lib.rs
  crates/mcpkit-macros/src/prompt.rs
  crates/mcpkit-macros/tests/compile-fail/prompt_missing_description.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-rocket/tests/integration.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
  crates/mcpkit-testing/src/mock.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
  crates/mcpkit-warp/tests/integration.rs
  examples/database-server/src/main.rs
  examples/full-server/src/main.rs
  examples/rocket-server/src/main.rs
  examples/warp-server/src/main.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
  mcpkit/tests/initialization_compliance.rs
  mcpkit/tests/tool_schema_compatibility.rs
Due: core, server, client, macros, testing, axum, actix

feat(core)!: typed Progress/Cancelled notification params + progressToken wiring (#112)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/notifications.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/server.rs
Due: core, server, client

fix(core): guarantee progressToken attaches over malformed _meta (#112 review)
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/notifications.rs
Due: core

feat(core)!: typed Progress/Cancelled notification params + progressToken wiring (#112) (#137)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/types/meta.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/notifications.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/server.rs
Due: core, server, client

feat(server): wire resources/subscribe + typed request types (#107)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/router.rs
Due: core, server, client

feat(server): wire resources/subscribe + typed request types (#107) (#139)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/router.rs
Due: core, server, client

feat(server)!: implement the logging utility (#108)
  CHANGELOG.md
  crates/mcpkit-core/src/types/logging.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: core, server

fix(adapters): route logging/setLevel via shared route_logging (#108 review)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/logging_setlevel.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/README.md
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
Due: core, server, axum, actix

feat(server)!: implement the logging utility (#108) (#140)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/tests/logging_setlevel.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/logging.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-server/README.md
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-server/src/validation.rs
  crates/mcpkit-warp/src/handler.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: core, server, axum, actix

feat(core): roots as protocol types + server-side Context::list_roots (#111)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/roots.rs
  crates/mcpkit-server/src/context.rs
Due: core, server, client

feat(core): roots as protocol types + server-side Context::list_roots (#111) (#142)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/roots.rs
  crates/mcpkit-server/src/context.rs
Due: core, server, client

feat(core)!: tool-augmented sampling content + request surface (#110 phase A)
  CHANGELOG.md
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-macros-tests/tests/expand/client_full.rs
  crates/mcpkit-macros-tests/tests/expand/client_sampling.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server, client

feat(core)!: tool-augmented sampling content + request surface (#110 phase A) (#144)
  CHANGELOG.md
  crates/mcpkit-client/src/handler.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-macros-tests/tests/expand/client_full.rs
  crates/mcpkit-macros-tests/tests/expand/client_sampling.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server, client

fix(sampling): enforce sampling.tools capability + fix includeContext casing (#110 review)
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/sampling.rs
Due: core, client

fix(sampling): enforce sampling.tools capability + fix includeContext casing (#110 review) (#146)
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/sampling.rs
Due: core, client

feat(core): preserve _meta on nested and listed objects (#145)
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/capability/resources.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  mcpkit/tests/capabilities_compliance.rs
Due: core, server, macros, testing

feat(core): preserve _meta on nested and listed objects (#145) (#148)
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-core/src/types/content.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/sampling.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/capability/resources.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  mcpkit/tests/capabilities_compliance.rs
Due: core, server, macros, testing

feat(tasks): result-level _meta on task results + status notification (#136)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: core, server, client

feat(tasks): result-level _meta on task results + status notification (#136) (#151)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: core, server, client

feat(completion): make completion/complete functional and spec-complete (#113)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/completion.rs
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/state.rs
Due: core, server, client, axum, actix

fix(completion): advertise on adapters, expose McpRouter::with_completion, return CompleteResult (#113 review)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-axum/tests/completion.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
  crates/mcpkit-server/src/capability/completions.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: core, server, axum, actix

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
