Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

fix(transport): randomize retry jitter; don't retry timeouts by default (#15) (#40)
  CHANGELOG.md
  Cargo.lock
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-transport/src/middleware/retry.rs
Due: transport

chore: bump in-development version to 0.6.0
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/getting-started.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

chore: bump in-development version to 0.6.0 (#43)
  Cargo.lock
  Cargo.toml
  README.md
  crates/mcpkit-actix/Cargo.toml
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-client/Cargo.toml
  crates/mcpkit-macros/Cargo.toml
  crates/mcpkit-rocket/Cargo.toml
  crates/mcpkit-server/Cargo.toml
  crates/mcpkit-testing/Cargo.toml
  crates/mcpkit-transport/Cargo.toml
  crates/mcpkit-warp/Cargo.toml
  docs/getting-started.md
  mcpkit/Cargo.toml
Due: transport, server, client, macros, testing, axum, actix

fix(core): protocol-type fidelity — RequestId::Null, distinct access-denied code, plain completion total (#17)
  CHANGELOG.md
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/protocol.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-core/tests/property_serialization.rs
  crates/mcpkit-server/src/capability/completions.rs
Due: core, server

fix(core): protocol-type fidelity — RequestId::Null, distinct access-denied code, plain completion total (#17) (#44)
  CHANGELOG.md
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/protocol.rs
  crates/mcpkit-core/src/types/completion.rs
  crates/mcpkit-core/tests/property_serialization.rs
  crates/mcpkit-server/src/capability/completions.rs
Due: core, server

fix(core): Tool builder coerces malformed input_schema instead of panicking (#18)
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
Due: core

fix(core): Tool builder coerces malformed input_schema instead of panicking (#18) (#45)
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
Due: core

fix(core): harden JWT/OAuth — algorithm allowlist, https-only JWKS, constant-time PKCE (#20)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
  crates/mcpkit-core/src/auth/oauth.rs
Due: core

fix(macros): schema fidelity — qualified paths, Option, generics (#19)
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/compile_fail/generic_impl.rs
  crates/mcpkit-macros-tests/tests/compile_fail/generic_impl.stderr
  crates/mcpkit-macros-tests/tests/expand.rs
  crates/mcpkit-macros-tests/tests/schema_fidelity.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
Due: macros

fix(macros): schema fidelity — qualified paths, Option, generics (#19) (#46)
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/compile_fail/generic_impl.rs
  crates/mcpkit-macros-tests/tests/compile_fail/generic_impl.stderr
  crates/mcpkit-macros-tests/tests/expand.rs
  crates/mcpkit-macros-tests/tests/schema_fidelity.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
Due: macros

fix(core): harden JWT/OAuth — algorithm allowlist, https-only JWKS, constant-time PKCE (#20) (#47)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/jwt.rs
  crates/mcpkit-core/src/auth/oauth.rs
Due: core

ci: silence rust-cache ENOENT, fix dead fuzz path filter, speed up semver, widen matrix coverage
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
Due: none

ci: silence rust-cache ENOENT, fix dead fuzz path filter, speed up semver, widen matrix coverage (#48)
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
Due: none

ci: exclude shields.io badge URLs from link check
  .github/workflows/ci.yml
Due: none

ci: exclude shields.io badge URLs from link check (#51)
  .github/workflows/ci.yml
Due: none

test(bench): label serde_json baselines honestly instead of as rmcp (#23)
  .github/workflows/stress-test.yml
  crates/mcpkit-core/benches/comparison.rs
Due: core

docs: refresh stale rmcp version/competitive framing (#22)
  README.md
  docs/comparison.md
  docs/migration-from-rmcp.md
Due: none

ci(grpc): guard committed proto bindings against drift (#24)
  .github/workflows/proto-check.yml
  crates/mcpkit-transport/src/grpc/mcp_proto.rs
Due: transport

test(bench): label serde_json baselines honestly instead of as rmcp (#23) (#49)
  .github/workflows/stress-test.yml
  crates/mcpkit-core/benches/comparison.rs
Due: core

docs: refresh stale rmcp version/competitive framing (#22) (#50)
  README.md
  docs/comparison.md
  docs/migration-from-rmcp.md
Due: none

ci(grpc): guard committed proto bindings against drift (#24) (#52)
  .github/workflows/proto-check.yml
  crates/mcpkit-transport/src/grpc/mcp_proto.rs
Due: transport

chore(release): prepare 0.6.0 and harden release publish job
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASING.md
  docs/client-guide.md
  docs/migration-from-rmcp.md
Due: none

docs: update roadmap/versioning status and 1.0-migration version refs for 0.6.0
  ROADMAP.md
  docs/migration-to-1.0.md
  docs/versioning.md
Due: none

chore(deps): resolve Dependabot security alerts (rmcp, rand)
  Cargo.lock
  crates/mcpkit-core/Cargo.toml
  crates/mcpkit-core/benches/comparison.rs
  deny.toml
  fuzz/Cargo.lock
Due: core

docs: fix 'unparseable' -> 'unparsable' flagged by spell check (RELEASING §1)
  CHANGELOG.md
  crates/mcpkit-core/src/protocol.rs
Due: core

chore(deps): resolve Dependabot security alerts (rmcp, rand) (#54)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  RELEASING.md
  ROADMAP.md
  crates/mcpkit-core/Cargo.toml
  crates/mcpkit-core/benches/comparison.rs
  deny.toml
  docs/client-guide.md
  docs/migration-from-rmcp.md
  docs/migration-to-1.0.md
  docs/versioning.md
  fuzz/Cargo.lock
Due: core

chore(release): prepare 0.6.0 and harden release publish job (#53)
  CHANGELOG.md
  crates/mcpkit-core/src/protocol.rs
Due: core

ci(release): install clippy component in validate job
  .github/workflows/release.yml
Due: none

ci(release): install clippy component in validate job (#55)
  .github/workflows/release.yml
Due: none

fix(release): make publish errexit-safe so failures are visible and tolerated correctly
  .github/workflows/release.yml
Due: none

fix(release): make publish errexit-safe so failures are visible and tolerated correctly (#56)
  .github/workflows/release.yml
Due: none

fix(auth): redact secrets in Debug output for OAuth/token types
  CHANGELOG.md
  crates/mcpkit-core/src/auth/oauth.rs
Due: core

fix(auth): redact secrets in Debug output for OAuth/token types (#57)
  CHANGELOG.md
  crates/mcpkit-core/src/auth/oauth.rs
Due: core

fix(macros): emit tool schema properties in deterministic order
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/schema_ordering.rs
  crates/mcpkit-macros/src/codegen.rs
Due: macros

fix(macros): emit tool schema properties in deterministic order (#58)
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/schema_ordering.rs
  crates/mcpkit-macros/src/codegen.rs
Due: macros

fix(transport): reply -32700 on stdio parse errors instead of closing
  CHANGELOG.md
  crates/mcpkit-transport/src/stdio.rs
Due: transport

fix(transport): reply -32700 on stdio parse errors instead of closing (#59)
  CHANGELOG.md
  crates/mcpkit-transport/src/stdio.rs
Due: transport

fix(server): answer ping before initialize handshake
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

fix(server): answer ping before initialize handshake (#60)
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

fix(core): default CallToolResult.content to empty when absent
  CHANGELOG.md
  crates/mcpkit-core/src/types/tool.rs
Due: core

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
