Repository praxiomlabs/mcpkit: changes, and which Codecov flags are due for each by the changed paths.
All: core, transport, server, client, macros, testing, axum, actix

docs: changelog entry for the ResourceLink content type (#92) (#93)
  CHANGELOG.md
Due: none

docs: changelog entry for the ResourceLink content type (#92)
  CHANGELOG.md
Due: none

fix(server): wire request cancellation to the handler context
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

fix(server): wire request cancellation to the handler context (#94)
  CHANGELOG.md
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): add ServerNotifier for server-initiated notifications
  CHANGELOG.md
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): add ServerNotifier for server-initiated notifications (#95)
  CHANGELOG.md
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): add the server-initiated request/response mechanism (#73 PR1)
  CHANGELOG.md
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): add the server-initiated request/response mechanism (#73 PR1) (#96)
  CHANGELOG.md
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): add ctx.elicit and retire the inverted elicitation scaffolding (#73 PR2)
  CHANGELOG.md
  crates/mcpkit-server/src/capability/elicitation.rs
  crates/mcpkit-server/src/capability/mod.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: server

feat(server): add ctx.elicit and retire the inverted elicitation scaffolding (#73 PR2) (#97)
  CHANGELOG.md
  crates/mcpkit-server/src/capability/elicitation.rs
  crates/mcpkit-server/src/capability/mod.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: server

feat(server): add ctx.create_message and retire the inverted sampling scaffolding (#73 PR3)
  CHANGELOG.md
  crates/mcpkit-server/src/capability/mod.rs
  crates/mcpkit-server/src/capability/sampling.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: server

feat(server): add ctx.create_message and retire the inverted sampling scaffolding (#73 PR3) (#98)
  CHANGELOG.md
  crates/mcpkit-server/src/capability/mod.rs
  crates/mcpkit-server/src/capability/sampling.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/handler.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/src/lib.rs
  mcpkit/src/prelude.rs
Due: server

ci: cache the semver baseline via the official action
  .github/workflows/ci.yml
Due: none

ci: cache the semver baseline via the official action (#99)
  .github/workflows/ci.yml
Due: none

feat(axum): validate request Origin to prevent DNS rebinding (#82 PR1)
  CHANGELOG.md
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-transport/src/http/mod.rs
  crates/mcpkit-transport/src/http/origin.rs
Due: transport, axum

feat(axum): validate request Origin to prevent DNS rebinding (#82 PR1) (#100)
  CHANGELOG.md
  crates/mcpkit-axum/Cargo.toml
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-axum/src/state.rs
  crates/mcpkit-transport/src/http/mod.rs
  crates/mcpkit-transport/src/http/origin.rs
Due: transport, axum

feat(actix,rocket): validate request Origin to prevent DNS rebinding (#82 PR2)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
Due: actix

feat(actix,rocket): validate request Origin to prevent DNS rebinding (#82 PR2) (#101)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-actix/src/state.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/lib.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-rocket/src/state.rs
Due: actix

feat(warp): validate request Origin to prevent DNS rebinding (#82 PR3)
  CHANGELOG.md
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: none

feat(warp): validate request Origin to prevent DNS rebinding (#82 PR3) (#102)
  CHANGELOG.md
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
  crates/mcpkit-warp/src/state.rs
Due: none

feat(core): add 2025-11-25 title/icons/execution to spec types (#79)
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/pool.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/metadata.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/tool_metadata.rs
  crates/mcpkit-macros/src/attrs.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/capability/resources.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  crates/mcpkit-warp/src/router.rs
  mcpkit/tests/capabilities_compliance.rs
  mcpkit/tests/initialization_compliance.rs
Due: core, server, client, macros, testing, axum, actix

feat(core): add 2025-11-25 title/icons/execution to spec types (#79) (#104)
  CHANGELOG.md
  benches/benches/serialization.rs
  benches/benches/tool_invocation.rs
  crates/mcpkit-actix/src/router.rs
  crates/mcpkit-axum/src/router.rs
  crates/mcpkit-client/src/pool.rs
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/types/metadata.rs
  crates/mcpkit-core/src/types/mod.rs
  crates/mcpkit-core/src/types/prompt.rs
  crates/mcpkit-core/src/types/resource.rs
  crates/mcpkit-core/src/types/tool.rs
  crates/mcpkit-macros-tests/tests/tool_metadata.rs
  crates/mcpkit-macros/src/attrs.rs
  crates/mcpkit-macros/src/codegen.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-server/src/capability/prompts.rs
  crates/mcpkit-server/src/capability/resources.rs
  crates/mcpkit-server/src/capability/tools.rs
  crates/mcpkit-testing/src/mock.rs
  crates/mcpkit-warp/src/router.rs
  mcpkit/tests/capabilities_compliance.rs
  mcpkit/tests/initialization_compliance.rs
Due: core, server, client, macros, testing, axum, actix

ci: make just lint/test recipes fail fast (set -euo pipefail) (#105)
  Justfile
Due: none

ci: make just lint/test recipes fail fast (set -euo pipefail)
  Justfile
Due: none

fix(core): nest embedded resource content under `resource` (#106)
  CHANGELOG.md
  crates/mcpkit-core/src/types/content.rs
Due: core

fix(core): nest embedded resource content under `resource` (#106) (#115)
  CHANGELOG.md
  crates/mcpkit-core/src/types/content.rs
Due: core

feat(core): rewrite task types to the 2025-11-25 spec model (#81 PR1)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/capability/tasks.rs
Due: core, server, client

feat(core): rewrite task types to the 2025-11-25 spec model (#81 PR1) (#116)
  CHANGELOG.md
  crates/mcpkit-client/src/client.rs
  crates/mcpkit-core/src/lib.rs
  crates/mcpkit-core/src/types/task.rs
  crates/mcpkit-server/src/capability/tasks.rs
Due: core, server, client

refactor(server): consolidate request dispatch into one slot-based router (#117)
  CHANGELOG.md
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

refactor(server): consolidate request dispatch into one slot-based router (#117) (#118)
  CHANGELOG.md
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/lib.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): advertise tasks capability and dispatch tasks/* (#81 PR2)
  CHANGELOG.md
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): advertise tasks capability and dispatch tasks/* (#81 PR2) (#119)
  CHANGELOG.md
  crates/mcpkit-server/src/builder.rs
  crates/mcpkit-server/src/dispatch.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
Due: server

feat(server): task-augmented tools/call execution (#81 PR3)
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/tool_metadata.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/server.rs
Due: server, macros

feat(server): task-augmented tools/call execution (#81 PR3) (#120)
  CHANGELOG.md
  crates/mcpkit-macros-tests/tests/tool_metadata.rs
  crates/mcpkit-macros/src/server.rs
  crates/mcpkit-server/src/capability/tasks.rs
  crates/mcpkit-server/src/server.rs
Due: server, macros

feat(auth): VerifiedUser + session-to-user binding APIs (#86 PR1)
  CHANGELOG.md
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-core/src/auth/identity.rs
  crates/mcpkit-core/src/auth/mod.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/session.rs
Due: core, axum, actix

feat(auth): VerifiedUser + session-to-user binding APIs (#86 PR1) (#124)
  CHANGELOG.md
  crates/mcpkit-actix/src/session.rs
  crates/mcpkit-axum/src/session.rs
  crates/mcpkit-core/src/auth/identity.rs
  crates/mcpkit-core/src/auth/mod.rs
  crates/mcpkit-rocket/src/session.rs
  crates/mcpkit-warp/src/session.rs
Due: core, axum, actix

feat(adapters): enforce session-user binding in the handlers (#86 PR2)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
Due: axum, actix

feat(adapters): enforce session-user binding in the handlers (#86 PR2) (#125)
  CHANGELOG.md
  crates/mcpkit-actix/src/handler.rs
  crates/mcpkit-axum/src/handler.rs
  crates/mcpkit-rocket/src/handler.rs
  crates/mcpkit-rocket/src/router.rs
  crates/mcpkit-warp/src/handler.rs
  crates/mcpkit-warp/src/router.rs
Due: axum, actix

feat(elicitation): URL-mode types + server elicit_url (#103 PR1)
  CHANGELOG.md
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/error/codes.rs
  crates/mcpkit-core/src/error/jsonrpc.rs
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server

feat(elicitation): URL-mode types + server elicit_url (#103 PR1) (#126)
  CHANGELOG.md
  crates/mcpkit-core/src/capability.rs
  crates/mcpkit-core/src/error/codes.rs
  crates/mcpkit-core/src/error/jsonrpc.rs
  crates/mcpkit-core/src/error/types.rs
  crates/mcpkit-core/src/types/elicitation.rs
  crates/mcpkit-server/src/context.rs
  crates/mcpkit-server/src/router.rs
  crates/mcpkit-server/src/server.rs
  mcpkit/tests/capability_negotiation_compatibility.rs
Due: core, server

Path conditions:
  core: any of: crates/mcpkit-core/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  transport: any of: crates/mcpkit-transport/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  server: any of: crates/mcpkit-server/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  client: any of: crates/mcpkit-client/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  macros: any of: crates/mcpkit-macros/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  testing: any of: crates/mcpkit-testing/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  axum: any of: crates/mcpkit-axum/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
  actix: any of: crates/mcpkit-actix/, but not: examples/**/*, benches/**/*, **/tests/**/*, target/**/*
